.canvasdisplay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../image/el-universo-no-es-oscuro-1536x960.jpg");
    background-size: cover;
    z-index: 1;
}

#arkanoidCanvaGo{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../image/GO.jpg");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    opacity: 0.6;
    background-size: cover;
    cursor: pointer;
    z-index: 2;
}

h1{
    text-align: center;
    margin-top: 75px;
}